<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.yourapp.beacon.monitoring</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to detect nearby beacons and process transactions.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to detect nearby beacons and process transactions.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need Bluetooth to detect and communicate with nearby beacons.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need Bluetooth to detect and communicate with nearby beacons.</string>
</dict>
</plist>
